:root {
  --bs-body-font-family: "League Spartan", sans-serif;
}

.navbar {
  z-index: 1050;
}

.nav-link {
  position: relative;
  color: white;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: -1rem;
  background-color: white;
  left: 0;
  width: 100%;
  height: 5px;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.1s ease-in-out;
}

.nav-link:hover {
  color: white;
}

.nav-link:hover::after {
  transform: scaleX(1);
}

.sliders-wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateX(100%);
}

.slide-btn {
  background-color: #212529;
  border: none;
  padding: clamp(1rem, 3vw, 2rem);
  transition: 0.4s;
}

.slide-btn:hover {
  background-color: #454545;
}

h1 {
  letter-spacing: -0.1rem;
  font-weight: 600;
}

.section-1 {
  padding-inline: clamp(2rem, 6vw, 6rem);
}

.shop-now {
  letter-spacing: 1rem;
  font-weight: 600;
  transition: 0.4s;
}

.shop-now-btn:hover {
  color: #a1a1a1;
}

.section-2 {
  padding: 2.5rem;
}

h2 {
  letter-spacing: 0.3rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 50%, 63%);
}

@media (max-width: 1280px) {
  .sliders-wrapper {
    transform: translateX(0);
  }
}

@media (max-width: 991px) {
  .nav-link {
    color: #212529;
  }
  .nav-link:hover {
    color: #a1a1a1;
  }
  .section-1 {
    padding-block: 5rem;
  }
}
